{% extends "layout.html" %}
{% block title %}Start{% endblock %}
{% block content %}
<div class="item">
  <div class="banner-tight">
    <h1>Start</h1>
  </div>
  {% with item=item %}
  {% include "_item.html" %}
  {% endwith %}
</div>

<div class="item">
  <div class="info">
    <form action="/begin" method="post">
      <h2>Side Quests</h2>
      <p>Which Side Quests should this project be considered for? (Select 0 or more.)</p>

      <div id="vote-quest-beginner" class="check-button button-full side-quest-check">
        <input type="checkbox" name="side-quest" id="vote-quest-beginner-check" value="beginner">
        <label for="vote-quest-beginner-check">Best Beginner Project</label>
      </div>

      <div id="vote-quest-entertainment" class="check-button button-full side-quest-check">
        <input type="checkbox" name="side-quest" id="vote-quest-entertainment-check" value="entertainment">
        <label for="vote-quest-entertainment-check">Best Entertainment Project</label>
      </div>

      <div id="vote-quest-esri" class="check-button button-full side-quest-check">
        <input type="checkbox" name="side-quest" id="vote-quest-esri-check" value="esri">
        <label for="vote-quest-esri-check">Best Use of Esri APIs</label>
      </div>

      <div id="vote-quest-fintech" class="check-button button-full side-quest-check">
        <input type="checkbox" name="side-quest" id="vote-quest-fintech-check" value="fintech">
        <label for="vote-quest-fintech-check">Best Fintech Project</label>
      </div>

      <div id="vote-quest-security" class="check-button button-full side-quest-check">
        <input type="checkbox" name="side-quest" id="vote-quest-security-check" value="security">
        <label for="vote-quest-security-check">Best Security Project</label>
      </div>

      <div id="vote-quest-hardware" class="check-button button-full side-quest-check">
        <input type="checkbox" name="side-quest" id="vote-quest-hardware-check" value="hardware">
        <label for="vote-quest-hardware-check">Best Hardware Project</label>
      </div>

      <div id="vote-quest-startup" class="check-button button-full side-quest-check">
        <input type="checkbox" name="side-quest" id="vote-quest-startup-check" value="startup">
        <label for="vote-quest-startup-check">Best Startup Project</label>
      </div>

      <hr/>

      <input type="submit" name="action" value="Done" id="vote-done" class="button-full button-gap">

      <hr/>

      <input type="submit" name="action" value="Skip" id="vote-skip" class="button-full">
      <input type="hidden" name="item_id" value="{{ item.id }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
  </div>
</div>
{% endblock %}
